<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/userStyle.css">
</head>

<body>
  <div data-user="{{userID}}" class="container">
    <div class="sidebar">
      <a style="text-decoration: none;" href="/user/settings">
        <i style="font-size:24px" class="fa">&#xf013;</i>
      </a>
      <hr>
      {{#if users}}
      {{#each users}}
      <a style="text-decoration: none; color:white;" href="/user/chat/{{id}}">
        <div class="sidebar-item">
          <img src="/{{picUrl}}" alt="">
          <div class="details">
            <span class="name">{{nickname}}</span>
            <span class="message">{{lastMessage}}</span>
          </div>
        </div>
      </a>
      <hr>
      {{/each}}
      {{/if}}
    </div>
    <div class="content">
      <div class="chat">
        <div class="chat-header">
          <div class="chat-header-left">
            {{#if friend}}
            <img src="/{{friend.picUrl}}" alt="User Avatar">
            <span class="chat-user-name" data-friend="{{friend.id}}">{{friend.nickname}}</span>
            {{/if}}

          </div>
          <div class="chat-header-right">
            <i class="fa fa-info-circle"></i>
          </div>
        </div>
        <div class="chat-messages">
          <div class="message">
            <div class="message-user">
              {{#if friend}}
              <img src="/{{friend.picUrl}}" alt="User Avatar">
              {{/if}}
            </div>
            <div class="message-text">Hello! How are you?</div>
          </div>
          {{!-- <div class="message-right">
            <div class="message-text">Hello! How are you?</div>
            <div class="message-user">
              {{#if user}}
              <img src="/{{user.picUrl}}" alt="User Avatar">
              {{/if}}
            </div>
          </div> --}}
        </div>
        <form action="/user/newMess/{{friend.id}}" method="post" class="chat-footer">
          <input type="text" id="message" name="message" class="chat-input" placeholder="Type a message...">
          <button onclick="sendMessage()" class="send-button">Send</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const container = document.querySelector('.container');
    const userID = container.dataset.user;
    const friend = document.querySelector('.chat-user-name').dataset.friend
    socket.emit('join', userID)


    function scrollToBottom() {
      const chatMessages = document.querySelector('.chat-messages');
      chatMessages.scrollTop = chatMessages.scrollHeight;
    }


    socket.on('showMess', (messages) => {
      messages.forEach((mess) => {
        if (mess.from == userID) {
          const message = `
            <div class="message-right">
              <div class="message-text">${mess.message}</div>
              <div class="message-user">
                {{#if user}}
                  <img src="/{{user.picUrl}}" alt="User Avatar">
                {{/if}}
              </div>
            </div >
          `
          document.querySelector('.chat-messages').insertAdjacentHTML('beforeend', message);
        }
        if (mess.from == friend) {
          const message = `
          <div class="message">
            <div class="message-user">
              {{#if friend}}
              <img src="/{{friend.picUrl}}" alt="User Avatar">
              {{/if}}
            </div>
            <div class="message-text">${mess.message}</div>
          </div>
          `
          document.querySelector('.chat-messages').insertAdjacentHTML('beforeend', message);
        }
      })

      scrollToBottom();
    });
    socket.emit('getMess', userID, friend)

    function sendMessage() {
      const message = document.getElementById('message')
      socket.emit('newMess', message.value, userID, friend)
      scrollToBottom();
      message.value = ''
    }
  </script>

</body>